# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.AppleDouble
.LSOverride
Icon
*.docx

# IDE / Editor related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Claude AI artifacts
.claude
.claude/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Generated iOS / Xcode files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
DerivedData/
.idea/**/workspace.xml
.ios/Flutter/Flutter.framework

# Android / Gradle related
.gradle/
/local.properties
/.idea/caches/
/.idea/libraries/
**/android/app/debug
**/android/app/profile
**/android/app/release
**/captures/
**/.cxx/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
